# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
_build/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
*.whl
*.egg-info
*.dist-info
.env
*.egg
Pipfile
Pipfile.lock
wheelhouse/
*.manifest
*.spec

# Environments
.venv/
venv/  # Explicitly ignore venv folder (CRUCIAL!)
*.env*
*.venv
env/
ENV/
python-env/
bin/
lib/
include/
pyvenv.cfg
env.build/
env.test/
instance/
.python-version

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
pytest-cache/
.pytest_cache/
.pytest-cov
*.py-cov
*.prof
*.lcov
*.egg
cover/
profile_html/
profile.out
coverage.xml
