.data-traceability {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  width: 100%; /* Ensure full width */
  padding: 20px;
  text-align: center; /* Center-align text within the container */
  background-color: black;
}

.data-traceability-graph {
  flex-grow: 1; /* Allow the graph to fill available space */
  width: 100%; /* Ensure the graph container takes full width */
  background-color: black;
  border-radius: 10px;
}

/* Custom Tooltip Styles */
.custom-tooltip {
position: fixed; /* Use fixed positioning */
left: 0; /* Initial position - will be updated */
top: 0;  /* Initial position - will be updated */
background-color: rgba(0, 0, 0, 0.85); /* Semi-transparent black */
color: white;
padding: 8px;
border-radius: 4px;
font-family: sans-serif;
max-width: 250px; /* Limit tooltip width */
pointer-events: none; /*  Prevent the tooltip from capturing mouse events */
z-index: 1000;     /*  Make sure the tooltip is on top */
}
.custom-tooltip h3{
  color: #FFC300;
}

.custom-tooltip p b{
  color: #F86B03;
}
/* Color Variables  */
:root {
--color-primary-amber: #FFC300;   /*  Amber/Honey Yellow (Neutral) */
--color-primary-deep-orange: #F86B03; /*  Deep Orange (Active) */
--color-connection-ruby: #800000;    /*  Deep Ruby (Connection)*/
--color-ai-agent: #001F3F;          /*  Dark Blue (AI) */
--color-background: #000000;        /*  Black (Background)*/
--color-text: #FFFFFF;                /*  White (Text) */
--color-grey: #CCCCCC;               /* Light grey */
}
h2 {
color: var(--color-primary-amber);
}
