.data-traceability {
  width: 100%;
  height: 100vh; /* Use viewport height for full-screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light grey background */
  font-family: 'Montserrat', sans-serif; /* Consistent font */
}

.data-traceability h2 {
  color: #333; /* Dark grey for the title */
  margin-bottom: 1rem;
}

.data-traceability-graph {
  width: 80%; /* Or whatever width works best */
  height: 80vh; /* Adjust height as needed */
  background-color: #fff; /* White background for the graph */
  border: 1px solid #ddd; /* Light grey border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Ensure tooltips are visible */
.react-tooltip {
z-index: 1000; /* Make sure tooltips are on top */
opacity: 1 !important; /* Ensure they're not transparent */
background-color: black;
color: white;
}
